@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: 'Inter', sans-serif;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

.hero {
  font-family: 'Inter', sans-serif;
  position: relative;
  background-image: url("/img/wed_hero.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
  margin-inline: auto;
  padding-right: 4rem;
}

.hero__text h1 {
  font-size: 35px;
  font-weight: 700;
}

.hero__text p {
  font-weight: 400;
  margin-top: 1em;
  line-height: 1.5;
  font-size: 18px;
}

.hero__img {
  display: none;
}

.service {
  font-family: 'Inter', sans-serif;
  color: #0f1d40;
  text-align: center;
  margin: 6.6rem auto 2.9rem;
}

.service__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1em;
}

.service__subtitle {
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

.grey {
  background-color: #f5f6f7;
}

.item {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f6f7;
  padding: 46px 0;
  gap: 1.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__image {
  height: 48px;
}

.item__text {
  text-align: center;
  width: 85%;
  font-size: 16px;
}

.wedding {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.8rem;
  margin-top: 9rem;
  margin-bottom: 20rem;
}

.wedding__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wedding__card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.18);
          box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.18);
}

.wedding__image {
  width: 100%;
  height: 45vh;
  border-radius: 16px 16px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wedding__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 2.2em;
}

.wedding__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wedding__title {
  font-size: 24px;
  font-weight: bold;
  color: #1081e8;
}

.wedding__star {
  color: #ffc806;
  font-size: 24px;
  letter-spacing: 4px;
}

.wedding__box2 {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

.wedding__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.wedding__price {
  font-size: 20px;
  font-weight: bold;
}

.wedding__button {
  background-color: #1081e8;
  padding: 0.9em;
  text-align: center;
  border-radius: 8px;
}

.wedding__button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 670px) {
  .hero {
    height: 60vh;
  }
  .hero__text {
    width: 80%;
  }
  .hero p {
    font-size: 24px;
  }
  .service__title {
    font-size: 56px;
  }
  .item__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    gap: 1.3em;
  }
  .item__text {
    text-align: left;
  }
  .wedding__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4rem;
  }
  .wedding__card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .wedding__title {
    font-size: 24px;
  }
  .wedding__box2 {
    text-align: left;
  }
  .wedding__box3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wedding__button {
    padding: 1rem 4.75rem;
  }
}

@media (min-width: 1000px) {
  .hero {
    height: 90vh;
  }
  .hero__text {
    z-index: 1;
    width: 100%;
    bottom: 20%;
    width: 90vh;
    padding-bottom: 50px;
  }
  .hero__text p {
    font-size: 28px;
  }
  .hero__img {
    z-index: 0;
    position: absolute;
    display: inline;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    right: 0;
    width: 45vw;
  }
  .hero__img img {
    display: block;
    max-width: 100%;
  }
  .item {
    padding: 3em;
  }
  .item__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    gap: 1.3em;
  }
  .item__text {
    text-align: left;
  }
}

.wedding__title {
  font-size: 32px;
}

.wedding__star {
  font-size: 30px;
}

.wedding__price {
  font-size: 28px;
}

.wedding__button {
  padding: 1.4rem 8rem;
}
/*# sourceMappingURL=wedding.css.map */