<!-- FORMAT FINAL KALO DI EJS -->
<%- include('./partials/navbar'); %>
<!-- HERO SECTION -->
<section class="hero">
  <div class="hero__text">
    <h1>Ciptakan Moment Indah untuk Memulai Lembaran Hidup Baru</h1>
    <p>Membantu kamu dan pasangan untuk mewujudkan pernikahan impianmu menjadi nyata. Karena memori manis disetiap prosesnya menjadi awal yang indah untuk kamu dan pasangan mengarungi bahtera rumah tangga.</p>
  </div>
  <div class="hero__img">
    <img src="./img/wed_hero2.png" alt="hero2" />
  </div>
</section>

<!-- SERVICES SECTION-->
<div class="wrapper">
  <section class="service">
    <h1 class="service__title">Service</h1>
    <p class="service__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="grey">
  <div class="wrapper">
    <section class="item">
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-1.svg" />
        <p class="item__text">Perancangan konsep dan tema pernikahan</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-2.svg" />
        <p class="item__text">Pembuatan rundown acara dari pembukaan hingga penutup.</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-3.svg" />
        <p class="item__text">Technical meeting secara berkala dengan vendor.</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-4.svg" />
        <p class="item__text">Pendamping keseluruhan vendor - vendor acara</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-5.svg" />
        <p class="item__text">Mengatur teknikal meeting dengan pihak keluarga</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-6.svg" />
        <p class="item__text">Mengorganisir jalannya acara pernikahan</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-7.svg" />
        <p class="item__text">Mengatur jadwal penjemputan pengantin pria ke wanita</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-8.svg" />
        <p class="item__text">Morning call di pagi hari kepada pengantin</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-9.svg" />
        <p class="item__text">Menyimpan dan mengirimkan hantaran, kado, dan mahar</p>
      </div>
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="service">
  <h1 class="service__title">Paket Wedding</h1>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapper">
  <section class="wedding">
    <div class="wedding__flex">
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card1.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Perfect Platinum</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan super lengkap dengan semua kemewahan dengan spesifikasi layanan paling tinggi.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 130.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card2.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Luxury Gold</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan spesial dengan konsep bermutu tinggi dan meninggalkan kesan terbaik.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 110.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card3.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Sprinkle Silver</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan lengkap untuk pernikahan istimewa dan berharga.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 95.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card4.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Nova Bronze</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan standar dengan konsep simpel dan efisien tanpa menghilangkan esensi sakral pernikahan.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 80.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
