@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/////////////////////////////////////////////////////
.wrapper {
  font-family: 'Inter', sans-serif;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

// HERO SECTION / 0-670 / DONE
.hero {
  font-family: 'Inter', sans-serif;
  position: relative;
  background-image: url('/img/wed_hero.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  &__text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #ffffff;
    margin-inline: auto;
    padding-right: 4rem;
    h1 {
      font-size: 35px;
      font-weight: 700;
    }
    p {
      font-weight: 400;
      margin-top: 1em;
      line-height: 1.5;
      font-size: 18px;
    }
  }
  &__img {
    display: none;
  }
}

// SERVICES SECTION / 0-670 / DONE
.service {
  font-family: 'Inter', sans-serif;
  color: #0f1d40;
  text-align: center;
  margin: 6.6rem auto 2.9rem;
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1em;
  }
  &__subtitle {
    font-size: 18px;
    text-align: center;
    font-style: italic;
  }
}

//ITEM SECTION / 0-670 / DONE
.grey {
  background-color: #f5f6f7;
}
.item {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f6f7;
  padding: 46px 0;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  &__box {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    flex-basis: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 48px;
  }
  &__text {
    text-align: center;
    width: 85%;
    font-size: 16px;
  }
}

// WEDDING CARD SECTION / 0-670 / DONE
.wedding {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin-top: 9rem;
  margin-bottom: 20rem;
  &__flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  &__card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.18);
    // padding: 1.5em;
  }
  &__image {
    width: 100%;
    height: 45vh;
    border-radius: 16px 16px 0 0;
    // display: block;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2.2em;
  }
  &__box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #1081e8;
  }
  &__star {
    color: #ffc806;
    font-size: 24px;
    letter-spacing: 4px;
  }
  &__box2 {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
  }
  &__box3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  &__price {
    font-size: 20px;
    font-weight: bold;
  }
  &__button {
    background-color: #1081e8;
    padding: 0.9em;
    text-align: center;
    border-radius: 8px;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
    }
  }
}

// ================= MEDIA QUERY 640 =================
@media (min-width: 670px) {
  // HERO SECTION / 670-1000 / DONE
  .hero {
    height: 60vh;
    &__text {
      width: 80%;
    }
    p {
      font-size: 24px;
    }
  }
  // SERVICES SECTION / 670-1000 / DONE
  .service {
    &__title {
      font-size: 56px;
    }
  }
  // ITEM ICON SECTION / 670-1000 / DONE
  .item {
    &__box {
      flex-direction: row;
      flex-basis: 45%;
      gap: 1.3em;
    }
    &__text {
      text-align: left;
    }
  }
  // WEDDING CARD SECTION / 670-1000 / DONE
  .wedding {
    &__flex {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
    &__card {
      flex-basis: 48%;
    }
    &__title {
      font-size: 24px;
    }
    &__box2 {
      text-align: left;
    }
    &__box3 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__button {
      padding: 1rem 4.75rem;
    }
  }
}

// ================= MEDIA QUERY 1000 ================
@media (min-width: 1000px) {
  // HERO SECTION / 1000 - ~ / DONE
  .hero {
    height: 90vh;
    &__text {
      z-index: 1;
      width: 100%;
      bottom: 20%;
      width: 90vh;
      padding-bottom: 50px;
      p {
        font-size: 28px;
      }
    }
    &__img {
      z-index: 0;
      position: absolute;
      display: inline;
      align-self: center;
      right: 0;
      width: 45vw;
      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  // ICON ITEM SECTION / 1000 - ~ / DONE
  .item {
    padding: 3em;
    &__box {
      flex-direction: row;
      flex-basis: 32%;
      gap: 1.3em;
    }
    &__text {
      text-align: left;
    }
  }
}

// WEDDING CARD SECTION / 1000 - ~ / DONE
.wedding {
  &__title {
    font-size: 32px;
  }
  &__star {
    font-size: 30px;
  }
  &__price {
    font-size: 28px;
  }
  &__button {
    padding: 1.4rem 8rem;
  }
}
